:root {
  --primary-color: #4096ff;
  --dark-primary-color: #4281cf;
  --accent-color: #f759ab;
  --warning-color: #a61d24;
  --black-color: #262626;
  --white-color: #ffffff;
  --gray-color: #ffffff;

  /* gap  */
  --gap-xs: 5px;
  --gap-s: 10px;
  --gap-m: 15px;
  --gap-l: 20px;
  --gap-xl: 25px;

  /* border */
  --primary-border-s: solid 1px --primary-color;
  --primary-border-m: solid 2px --primary-color;
  --primary-border-l: solid 3px --primary-color;
  --rounded-border: 5px;
  --circle-border: 50%;

  /* margin */

  /* padding */
  --padding-xxs: 2px;
  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 15px;
  --padding-l: 20px;
  --padding-xl: 30px;
  --padding-xxl: 50px;

  /* transition */
  --quick-transition: 0.3s;

  /* font size */
  --font-size-xs: 14px;
  --font-size-s: 17px;
  --font-size-m: 22px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

@define-mixin fullscreen $page-name {
  .$(page-name) {
    width: 100vw;
    height: 100vh;
    @mixin-content;
  }
}

@define-mixin flex-container $direction, $gapSize, $suffix {
  .flex-container-$(suffix) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $(direction);
    gap: var(--gap-$(gapSize));
    @mixin-content;
  }
}
